@page "/authors/details/{id:int}"
@inherits DetailsBase
<h3>Details</h3>

<div class="card-body">
    <EditForm Model="Author">
        <fieldset disabled>
            <div class="form-group">
                <label for="firstname">First Name</label> - @Author.FirstName
                <InputText class="form-control" @bind-Value="Author.FirstName" id="firstname" />
                <ValidationMessage For="@(() => Author.FirstName)" />
            </div>
            <br />
            <div class="form-group">
                <label for="lastname">Last Name</label> - @Author.LastName
                <InputText class="form-control" @bind-Value="Author.LastName" id="lastname" />
                <ValidationMessage For="@(() => Author.LastName)" />
            </div>
            <br />
            <div class="form-group">
                <label for="bio">Biography</label>
                <InputTextArea class="form-control" @bind-Value="Author.Bio" id="bio" />
                <ValidationMessage For="@(() => Author.Bio)" />
            </div>
            <br />
        </fieldset>

        @if (Author.Books == null || Author.Books.Any() == false)
        {


            <div class="alert alert-dismissible alert-secondary">
                <p>No Books For This Author</p>
            </div>
        }
        else
        {
            foreach (var book in Author.Books)
            {
                <div class="card" style="width: 18rem;">
                    <img src="@book.Image" class="card-img-top" alt="@book.Title">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title - @book.Price.ToString("C")</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">View Book</a>
                    </div>
                </div>
            }
        }

        <button @onclick="GoToEdit" class="btn btn-warning"><span class="oi oi-pencil"></span> Edit Author</button>
        <button @onclick="BackToList" class="btn btn-outline-secondary"><span class="oi oi-media-skip-backward"></span> Back to List</button>

    </EditForm>
</div>
